<launch>
	<arg name="rvizconfig" default="$(find frob_description)/rviz/frob_navigation.rviz" />
	<arg name="model" default="$(find frob_description)/urdf/frob.xacro" />
	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="false"/>

	<include file="$(find frob_navigation)/launch/frob_navigation.launch" />
</launch>
