<launch>
    <node name="controller" pkg="pid" type="controller" ns="/frob/left_wheel" output="screen" >
        <param name="node_name" value="left_wheel_pid" />
        <param name="Kp" value="6.2" />
        <param name="Ki" value="0.0" />
        <param name="Kd" value="0.025" />
        <param name="upper_limit" value="10.23" />
        <param name="lower_limit" value="-10.23" />
        <param name="windup_limit" value="10.23" />
        <param name="max_loop_frequency" value="100.0" />
        <param name="min_loop_frequency" value="100.0" />
        <remap from="/frob/left_wheel/setpoint" to="/frob/left_wheel/target_velocity" />
        <remap from="/frob/left_wheel/state" to="/frob/left_wheel/current_velocity" />
        <remap from="/frob/left_wheel/control_effort" to="/frob/left_wheel/pwm" />
    </node>

    <node name="controller" pkg="pid" type="controller" ns="/frob/right_wheel" output="screen" >
        <param name="node_name" value="right_wheel_pid" />
        <param name="Kp" value="6.0" />
        <param name="Ki" value="0.0" />
        <param name="Kd" value="0.025" />
        <param name="upper_limit" value="10.23" />
        <param name="lower_limit" value="-10.23" />
        <param name="windup_limit" value="10.23" />
        <param name="max_loop_frequency" value="100.0" />
        <param name="min_loop_frequency" value="100.0" />
        <remap from="/frob/right_wheel/setpoint" to="/frob/right_wheel/target_velocity" />
        <remap from="/frob/right_wheel/state" to="/frob/right_wheel/current_velocity" />
        <remap from="/frob/right_wheel/control_effort" to="/frob/right_wheel/pwm" />
    </node>
</launch>